@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 1.8rem;
  padding: 5px 0 20px 0;
  color: #2b283a;
}

nav {
  background-color: #f55a5a;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.logo-text {
  margin-left: 10px;
}

.main {
  padding: 5% 30% 0;
  display: flex;
}

.location-image {
  width: 150px;
  height: 210px;
  border-radius: 5px;
}

.main-content {
  padding-left: 20px;
}

.main-content-1 > * {
  margin: 0 5px;
}

.country {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: #2b283a;
}

.map {
  font-size: 0.9rem;
  color: #918e9b;
  text-decoration: none;
  border-bottom: 1px solid #918e9b;
}

.date {
  font-size: 0.8rem;
}

.description {
  font-size: 0.8rem;
  padding-top: 10px;
  color: #2b283a;
}

@media (max-width: 768px) and (min-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  .main {
    padding: 50px 20px;
    display: flex;
  }
} ;
